{% extends 'base' %}

{% block title %}About{% endblock %}

{% block body_class %}about{% endblock %}

{% block content %}
<section class="intro">
    <div class="container">
        <div class="intro-message">
            <h2>About me</h2>
            <p>Yep, that's me underwater. I am well-rounded <strong>front end web developer</strong> based in Toronto, and I love everything about this city... wait, I forgot about TTC delays. I enjoy snowboarding, skateboard and ride my bike.</p>
            <p>I would say that I am an easy-going person, I get along really well with everyone. I've created the board below to show some of the things that I love.</p>
            <p>You must be thinking, "ok Jonny you are cool, but what about your career? No comments on that?". Don't worry there is a <a href="#career"><strong>career section</strong></a> on this page.</p>
        </div>
        <div class="intro-image">
            <img src="{{ img }}about-picture.jpg" alt="Picture of myself underwater"/>
        </div>
    </div>
    <div class="container">
        <div class="picture-wall-container">
            <div class="picture-wall">
                <div class="each-picture snowboard" data-title="Snowboard" data-content="Is it winter yet?">
                    <img src="{{ img }}about-me-in-pictures-snowboard.jpg" alt=""/>
                </div>
                <div class="each-picture travel" data-title="Travel" data-content="Ilhabela, Brazil">
                    <img src="{{ img }}about-me-in-pictures-travel.jpg" alt=""/>
                </div>
                <div class="each-picture skateboard" data-title="Skate" data-content="New toy, still learning">
                    <img src="{{ img }}about-me-in-pictures-skateboard.jpg" alt=""/>
                </div>
                <div class="each-picture brazil" data-title="Brazil" data-content="Motherland">
                    <img src="{{ img }}about-me-in-pictures-brazil.jpg" alt=""/>
                </div>
                <div class="each-picture love" data-title="Love" data-content="My wife, eternal love &hearts;">
                    <img src="{{ img }}about-me-in-pictures-love.jpg" alt="" />
                </div>
                <div class="each-picture webdesign" data-title="Web Design" data-content="What I love to do from 9am to 9am">
                    <img src="{{ img }}about-me-in-pictures-webdesign.jpg" alt=""/>
                </div>
                <div class="each-picture bike" data-title="Bike" data-content="Take me everywhere">
                    <img src="{{ img }}about-me-in-pictures-bike.jpg" alt=""/>
                </div>
                <div class="each-picture cheese" data-title="Cheese" data-content="All kinds of cheese">
                    <img src="{{ img }}about-me-in-pictures-cheese.jpg" alt=""/>
                </div>
                <div class="each-picture toronto" data-title="Toronto" data-content="Perfect place to live">
                    <img src="{{ img }}about-me-in-pictures-toronto.jpg" alt=""/>
                </div>
            </div>
        </div>
    </div>
    <div class="container testimonial">
        <blockquote>
            <p>“Jonny is the best web designer I've ever seen”</p>
            <footer>- <cite>My Mom</cite></footer>
        </blockquote>
    </div>
</section>
<section id="career" class="skills career">
    <div class="container">
        <h2>Career</h2>
        <p>I have started my career as a graphic designer back in 2002 the same year I when started my bachelor's degree in digital design. In those four years I have learned about web design, animation, 3D and photography.</p>
        <p>My interest in web design started to grow when I started my own company in 2005.</p>
        <p>Today my skills range from designing to coding the entire front end.</p>
        <p>Proficient in HTML5, CSS3 (and SASS), JavaScript (jQuery), JSON, and Wordpress</p>
        <p>Outstanding experience with Source Control (GIT), Twitter Bootstrap, Responsive Design, CMS, MySQL, and Redmine</p>
        <p>Skilled with AngularJS, Laravel PHP framework, Linux Servers, Nginx, and APIs</p>
        <a class="btn btn-resume" href="{{ file }}jonny-andreola-resume.pdf" target-"_blank" download type="application/pdf">Download Resume</a>
    </div>
</section>
<section class="skills website">
    <div class="container">
        <div class="description">
            <h2>About this website</h2>
            <p>I've decided to build this portfolio from the ground up, including server configuration, source control, css from scratch without frameworks and no plugins, all hand coded.</p>
            <p>I also made the most complaint possible using the latest technologies like HTML 5, CSS 3, jQuery. It is responsive, lightweight and blazing fast. I've optimized everything to provide the best user experience.</p>
            <p>Moreover, you can also check all the source files in my <a href="https://github.com/jonnyandreola/laravel-portfolio" target="_blank" rel="nofollow">Github</a> page, and you will see a high quality code.</p>
        </div>
        <div class="scores-container">
            <div class="score yslow">
                <bloquequote>
                    <p>Grade <strong>A</strong> - Performance Score <strong>96%</strong></p>
                    <cite>YSlow Test by <a href="https://developer.yahoo.com/yslow/" target="_blank" rel="nofollow">Yahoo</a></cite>
                </bloquequote>
            </div>
            <div class="score google">
                <bloquequote>
                    <p>Speed Desktop <strong>97%</strong> - Mobile <strong>91%</strong></p>
                    <cite>Page Speed Insights by <a href="https://developers.google.com/speed/pagespeed/insights/?url=dev.jonnyandreola.ca%2Fabout&tab=mobile" target="_blank" rel="nofollow">Google</a></cite>
                </bloquequote>
            </div>
            <div class="score wife">
                <bloquequote>
                    <p>&#9733;&#9733;&#9733;&#9733;&#9734;</p>
                    <cite>My wife</cite>
                </bloquequote>
            </div>
        </div>
    </div>
</section>
{% endblock %}
