{% extends 'base' %}

{% block title %}About{% endblock %}

{% block body_class %}about{% endblock %}

{% block content %}
<section class="intro">
    <div class="container">
        <div class="intro-message">
            <h2>About me</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, commodi harum porro reprehenderit facere perspiciatis cumque natus eaque. Non, maxime, quas incidunt doloribus veniam assumenda nulla magni porro dignissimos quaerat quia eligendi perferendis eveniet eius reiciendis expedita quasi molestias beatae consequuntur aspernatur architecto perspiciatis quidem distinctio explicabo sapiente neque debitis.</p>
        </div>
        <div class="intro-image">
            <img src="{{ img }}about-picture.jpg" alt="Picture of myself underwater"/>
        </div>
    </div>
    <div class="container">
        <div class="picture-wall-container">
            <div class="picture-wall">
                <div class="each-picture snowboard" data-title="Snowboard" data-content="Lorem ipsum dolor sit amet.">
                    <img src="{{ img }}about-me-in-pictures-snowboard.jpg" alt=""/>
                </div>
                <div class="each-picture travel" data-title="Travel" data-content="Lorem ipsum dolor sit amet.">
                    <img src="{{ img }}about-me-in-pictures-travel.jpg" alt=""/>
                </div>
                <div class="each-picture skateboard" data-title="Skate" data-content="Lorem ipsum dolor sit amet.">
                    <img src="{{ img }}about-me-in-pictures-skateboard.jpg" alt=""/>
                </div>
                <div class="each-picture brazil" data-title="Brazil" data-content="Lorem ipsum dolor sit amet.">
                    <img src="{{ img }}about-me-in-pictures-brazil.jpg" alt=""/>
                </div>
                <div class="each-picture love" data-title="Love" data-content="Lorem ipsum dolor sit amet.">
                    <img src="{{ img }}about-me-in-pictures-love.jpg" alt="" />
                </div>
                <div class="each-picture webdesign" data-title="Web Design" data-content="Lorem ipsum dolor sit amet.">
                    <img src="{{ img }}about-me-in-pictures-webdesign.jpg" alt=""/>
                </div>
                <div class="each-picture bike" data-title="Bike" data-content="Lorem ipsum dolor sit amet.">
                    <img src="{{ img }}about-me-in-pictures-bike.jpg" alt=""/>
                </div>
                <div class="each-picture cheese" data-title="Cheese" data-content="Lorem ipsum dolor sit amet.">
                    <img src="{{ img }}about-me-in-pictures-cheese.jpg" alt=""/>
                </div>
                <div class="each-picture toronto" data-title="Toronto" data-content="Lorem ipsum dolor sit amet.">
                    <img src="{{ img }}about-me-in-pictures-toronto.jpg" alt=""/>
                </div>
            </div>
        </div>
    </div>
    <div class="container testimonial">
        <blockquote>
            <p>“Jonny is the best web designer I've ever seen”</p>
            <footer>- <cite>My Mom</cite></footer>
        </blockquote>
    </div>
</section>
<section class="skills career">
    <div class="container">
        <h2>Career</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, voluptatibus cumque dicta numquam perspiciatis nobis debitis quas assumenda cum earum repellat libero eaque esse facere dolorem temporibus nostrum eligendi alias eos praesentium. Consequatur, eligendi iure autem nisi ea maiores voluptas animi modi id sit nobis aut eveniet pariatur doloribus rem praesentium aspernatur numquam porro veritatis repudiandae totam rerum repellat neque!</p>
        <a class="btn btn-resume" href="{{ file }}jonny-andreola-resume.pdf" target-"_blank" download type="application/pdf">Download Resume</a>
    </div>
</section>
<section class="skills website">
    <div class="container">
        <div class="description">
            <h2>About this website</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, et, vero, rerum, quam odio quas esse cupiditate tempora laborum animi sit dicta quae quo officiis in quaerat facilis enim maiores eum laudantium. Quibusdam temporibus ratione distinctio quis nesciunt impedit officia.</p>
        </div>
        <div class="scores-container">
            <div class="score yslow">
                <bloquequote>
                    <p>Grade <strong>A</strong> - Performance Score <strong>96%</strong></p>
                    <cite>YSlow Test by <a href="https://developer.yahoo.com/yslow/" target="_blank" rel="nofollow">Yahoo</a></cite>
                </bloquequote>
            </div>
            <div class="score google">
                <bloquequote>
                    <p>Speed Desktop <strong>97%</strong> - Mobile <strong>91%</strong></p>
                    <cite>Page Speed Insights by <a href="https://developers.google.com/speed/pagespeed/insights/?url=dev.jonnyandreola.ca%2Fabout&tab=mobile" target="_blank" rel="nofollow">Google</a></cite>
                </bloquequote>
            </div>
            <div class="score wife">
                <bloquequote>
                    <p>&#9733;&#9733;&#9733;&#9733;&#9734;</p>
                    <cite>My wife</cite>
                </bloquequote>
            </div>
        </div>
    </div>
</section>
{% endblock %}
