<!doctype html>
<!--[if lt IE 9]><html class="ie"><![endif]-->
<!--[if gte IE 9]><!--><html><!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <title>Jonny Andreola Portfolio :: {% block title %}{% endblock%}</title>
    <meta name="description" content="My personal page, includes information about my career and personal stuff"/>
    <link rel="author" href="https://plus.google.com/103128191546502160348/about"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{{ css }}main.css"/>
    <link rel="shortcut icon" href="favicon.ico"/>
    <link rel="apple-touch-icon" href="{{ img }}apple-touch-icon.png"/>
    <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body class="{% block body_class%}{% endblock%}" lang="en">
    <header>
        <div class="container">
            <div class="logo">
                <img src="{{ img }}logo-symbol-white.svg" alt="My logo symbol"/>
                <h1>Jonny Andreola</h1>
            </div>
            <nav>
                <ul>
                    <li><a class="home" href="/">home</a></li>
                    <li><a class="about" href="/about">about</a></li>
                    <li><a class="work" href="/work">work</a></li>
                    <li><a class="contact" href="/contact">contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        {% block content%}{% endblock %}
    </main>
    <footer>
        <div class="container">
            <a href="/contact" class="contact-footer">
                <img src="{{ img }}icon-contact.svg" alt="Envelope Icon"/>
                <span>Contact</span>
            </a>
            <div class="github-footer">
                <img src="{{ img }}icon-github.svg" alt="Github logo"/>
                <span>
                    There is nothing nasty here to hide, you can check this source code at <a href="https://github.com/jonnyandreola/laravel-portfolio" target="_blank" rel="nofollow">Github</a>
                </span>
            </div>
        </div>
    </footer>
    <script async src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ js }}jquery.min.js">\x3C/script>')</script>
    <script async src="{{ js }}main.js"></script>
</body>
</html>