{% extends 'base' %}

{% block title %}Home{% endblock %}

{% block body_class %}home{% endblock %}

{% block content %}
<section class="intro">
    <div class="container">
        <div class="intro-message">
            <h2>
                Hi, my name is <strong>Jonny</strong><br/>
                I'm <strong>passionate</strong> about everything related to <strong>web design</strong>
            </h2>
            <small>not so much about Internet Explorer :(</small>
        </div>
        <div class="intro-image">
            <img src="{{ img }}icon-intro.svg" alt="Symbol that represent a html tag"/>
        </div>
    </div>
</section>
<section class="skills skill-html">
    <div class="container">
        <div class="logo-container">
            <img src="{{ img }}html-logo.svg" alt="HTML5 Logo"/>
        </div>
        <div class="description">
            <h2>Semantic HTML markup</h2>
            <p>HTML is the foundation for a web page, and a good foundation is always important to ensure the quality of the final product. I believe that an HTML document must be easy to understand and it should be layout free. HTML 5 brought a new set of HTML tags that helps to create a modern document. It is really important to use these new tags to create meaningful markup.</p>
            <p>Go ahead and check this page source and you will see what I am talking about.</p>
        </div>
    </div>
</section>
<section class="skills skill-css">
    <div class="container">
        <div class="description">
            <h2>Awesome CSS using SASS</h2>
            <p>CSS is what makes your HTML visually appealing to your target. I use all the resources provided by CSS 3 to create web sites that are a gift for the user's eyes, and always making sure to provide an awesome user experience.</p>
            <p>Appealing, Flexible and Lightweight. That's my motto when it comes to styling a website.</p>
        </div>
        <div class="logo-container">
            <img src="{{ img }}sass-css-logos.svg" alt="SASS and CSS3 logos"/>
        </div>
    </div>
</section>
<section class="skills skill-jquery">
    <div class="container">
        <div class="logo-container">
            <img src="{{ img }}jquery-logo.svg" alt="jQuery Logo">
        </div>
        <div class="description">
            <h2>Make anything possible</h2>
            <p>There is no limit of what is possible to do with jQuery. I use jQuery to interact with the user and the server. With jQuery it is possible to create a rich and improved experience for the user.</p>
            <p>Furthermore, you can interact with the server without the need to refresh your page saving user and server's resources.</p>
        </div>
    </div>
</section>
<section class="skills skill-more">
    <div class="container">
        <h2>Wait! There is more...</h2>
        <div class="more-logos-container">
            <div class="each-logo">
                <img src="{{ img }}php-logo.svg" alt="PHP Logo">
            </div>
            <div class="each-logo">
                <img src="{{ img }}mysql-logo.svg" alt="MySql Logo">
            </div>
            <div class="each-logo">
                <img src="{{ img }}wordpress-logo.svg" alt="Wordpress Logo">
            </div>
            <div class="each-logo">
                <img src="{{ img }}git-logo.svg" alt="Git Logo">
            </div>
            <div class="each-logo">
                <img src="{{ img }}angular-logo.svg" alt="Angular JS Logo">
            </div>
        </div>
    </div>
</section>
<section class="skills skill-google">
    <div class="container">
        <h3>...and for everything else that I don't know (yet), I use</h3>
        <img src="{{ img }}google-logo.svg" alt="Google Logo" class="logo-google"/>
        <form class="google-search" action="http://www.google.com/search" target="_blank">
            <input id="textbox" name="q" type="text" value="tools required to build a space shuttle"/><input type="image" src="{{ img }}mag-glass.svg" />
        </form>
    </div>
</section>
{% endblock %}