{% extends 'base' %}

{% block title %}My Work{% endblock %}

{% block body_class %}work{% endblock %}

{% block content %}
<section class="intro">
    <div class="container">
        <div class="intro-message">
            <h2>I have converted <strong>coffee</strong> into the following things:</h2>
        </div>
        <div class="intro-image">
            <img src="{{ img }}coffee-stain.svg" alt="Image of a coffee ring stain"/>
        </div>
    </div>
</section>
<section class="projects">
    <article>
        <div class="container">
            <div class="project-content">
                <h3>Granja Viana Jardins</h3>
                <p><strong>Role:</strong> Design and Development</p>
                <p>This website uses Wordpress as a content management system. It includes features like slider, photo gallery and blog.</p>
                <p>The client is able to manage all the content from the website.</p>
                <a class="btn" href="http://www.granjaverdejardins.com.br" target="_blank">granjaverdejardins.com.br</a> 
            </div>
            <div class="project-image">
                 <a href="http://www.granjaverdejardins.com.br" target="_blank">
                    <img src="{{ img }}projects/granjaverde-website.jpg" alt="Screenshot of Granja Verde website."/>
                </a>
            </div>
        </div>
    </article>
    <article>
        <div class="container">
            <div class="project-image">
                 <a href="http://www.jd10.com.br" target="_blank">
                    <img src="{{ img }}projects/jd10-website.jpg" alt="Screenshot of JD 10 website."/>
                </a>
            </div>
            <div class="project-content">
                <h3>JD 10 Design</h3>
                <p><strong>Role:</strong> Design and Development</p>
                <p>This website uses Wordpress as a content management system. It includes features like social buttons, FTP upload and blog.</p>
                <p>The client is able to manage all the content from the website.</p>
                <a class="btn" href="http://www.jd10.com.br" target="_blank">www.jd10.com.br</a> 
            </div>
        </div>
    </article>
    <article>
        <div class="container">
            <div class="project-content">
                <h3>Clarity</h3>
                <p><strong>Role:</strong> Design</p>
                <p>Brand developed for a consulting business. The brand was created taking into account the customer as the spotlight, this one being advised by Clarity. The rectangle represents the continuous support of Clarity to your customers.</p>
            </div>
            <div class="project-image">
                <img src="{{ img }}projects/clarity-logo.jpg" alt="Clarity's logo image."/>
            </div>
        </div>
    </article>

    <div class="container message">
        <h2>Best fuel economy in class<br/><strong>23<span>WPG*</span></strong></h2>
        <span>* websites per gallon of coffee</span>
    </div>

    <article>
        <div class="container">
            <div class="project-content">
                <h3>Produttore</h3>
                <p><strong>Role:</strong> Design and Development</p>
                <p>This website was developed in PHP. Its design was inspired by the Bauhaus movement. This website features a live search using ajax.</p>
                <a class="btn" href="http://www.produttore.com.br/" target="_blank">www.produttore.com.br</a> 
            </div>
            <div class="project-image">
                 <a href="http://www.produttore.com.br/" target="_blank">
                    <img src="{{ img }}projects/produttore-website.jpg" alt="Screenshot of Produttore website."/>
                </a>
            </div>
        </div>
    </article>
    <article>
        <div class="container">
            <div class="project-image">
                 <a href="http://www.jd10.com.br" target="_blank">
                    <img src="{{ img }}projects/specialalloy-logo.jpg" alt="Special Alloy logo."/>
                </a>
            </div>
            <div class="project-content">
                <h3>Special Alloy</h3>
                <p><strong>Role:</strong> Design</p>
                <p>Brand developed for an importer of industrial tubes. I created a symbol for this brand that resembles four tubes seen in perspective and modified the font to have circular shapes.</p>
            </div>
        </div>
    </article>
</section>

{% endblock %}